<body class="tlo">
  <div class="logo_tlo_wieksze">
      <img src="assets/images/med.png">
  </div>
<div>
  <p style="padding-bottom: 10px; font-size: 25px;">Rejestracja</p>
  <p style="padding-bottom: 10px; font-style: italic;">*Masz już konto? Przejdź do <u style="cursor: pointer;" routerLink="/login">logowania</u></p>
    <form (ngSubmit)="register()">
      <label class="napis_poboczny" for="email">Email:</label>
      <div style="padding-bottom: 30px; padding-top: 20px;">
        <input class="pole" type="email" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <label class="napis_poboczny" for="password">Hasło:</label>
      <div style="padding-bottom: 30px; padding-top: 20px;">
        <input class="pole" type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button class="przycisk" type="submit">Zarejestruj</button>
    </form>
  </div>
</body>